name: Tests
on:
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # The lowest one should be the minimum supported node version, per package.json "engines" field
        node: [ "16.0.0", "18", "20" ]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'yarn'
      - run: yarn --frozen-lockfile
      - run: yarn lint
      - run: yarn test
