name: Tests
on:
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14.13.1' # minimum supported node version, per package.json "engines" field
          cache: 'yarn'
      - run: yarn --immutable
      - run: yarn lint
      - run: yarn test
